[testdomain.ru]
;listen = /var/run/php/sampledomain.ru.sock
listen = 127.0.0.1:9000
listen.mode = 0666
user = test
group = test
chdir = /home/test/www/testdomain.ru

php_admin_value[upload_tmp_dir] = /home/test/tmp
php_admin_value[soap.wsdl_cache_dir] = /home/test/tmp
php_admin_value[date.timezone] = Europe/Moscow
php_admin_value[upload_max_filesize] = 100M
php_admin_value[post_max_size] = 100M
php_admin_value[open_basedir] = /home/test/www/testdomain.ru/
php_admin_value[session.save_path] = /home/test/tmp
php_admin_value[disable_functions] = exec,passthru,shell_exec,system,proc_open,popen,curl_multi_exec,parse_ini_file,show_source
php_admin_value[cgi.fix_pathinfo] = 0
php_admin_value[apc.cache_by_default] = 0

pm = dynamic
pm.max_children = 7
pm.start_servers = 3
pm.min_spare_servers = 2
pm.max_spare_servers = 4